nvim/plugged
nvim/autoload/.neobundle
nvim/autoload/NeoBundle.lock
nvim/.netrwhist
coc/extensions/node_modules
coc/extensions/coc-*-data
rustup/toolchains
rustup/update-hashes
yarn/global/yarn.lock
cargo/bin
