nvim/plugged
nvim/autoload/.neobundle
nvim/autoload/NeoBundle.lock
nvim/.netrwhist
coc/commands
coc/extensions/node_modules
coc/extensions/coc-*-data
coc/extensions/package.json
coc/list-extensions-history.json
coc/list-lists-history.json
coc/list-commands-history.json
coc/list-location-history.json
rustup/toolchains
rustup/update-hashes
yarn/global/yarn.lock
cargo/bin
nvim/coc-settings.json
op/

# ddog
gcloud
helm
ddtool
configstore/update-notifier-npm.json
